In [29]:
2+2

4

In [2]:
3-1

2

In [3]:
3*45

135

In [5]:
a=5
b=9
c=a+b
print(c)

14

In [6]:
a=5
b=9
c=a-b
print(c)

-4

In [7]:
x=4
y=6
z= x+y
c= z + y

In [8]:
print(c)

16

In [15]:
x=5
y=7
z= x+y
c= z + y
c
z

12

In [16]:
x=5
y=7
z= x+y
c= z + y
print(c)
print(z)

19
12

In [17]:
x=5
y=7
z= x+y
c= z + y
print(z)
print(c)
print(c)
print(z)

12
19
19
12

In [20]:
x=5
y=7
z= x+y
c= z + y
print('my value of z is', z)
print("my value of c:", c)

my value of z is 12
my value of c: 19

In [21]:
print("edfhjjkhjgh")

edfhjjkhjgh

In [22]:
print("my name is Paul Odiebara")

my name is Paul Odiebara

In [23]:
#calculate the Area of a triangle
#formular is 1/2 base times height
base= 10
height= 15
area= 0.5*base*height
print(area)

75.0

In [24]:
base=10
height=15
area=0.5*base*height
print("The area of this triangle is:",area)

The area of this triangle is: 75.0

## Variables and Data types

In [28]:
age= 15 # integers
height= 1.9 # floating numbers
name= "Paul" # strings

In [31]:
name='Bright'

In [32]:
name

'Bright'

In [33]:
number="15"

In [34]:
number

'15'

In [35]:
print(number)

15

In [36]:
type(number)

str

In [37]:
type(age)

int

In [38]:
type(height)

float

In [50]:
type(name)

str

In [55]:
base=int(input("please Enter your base: "))
height=int(input("please enter your height: "))
area=0.5*base*height
print("The area of this triangle is:",area)

please Enter your base:  6
please enter your height:  9

The area of this triangle is: 27.0

In [47]:
base=float(input("please Enter your base: "))
height=float(input("please enter your height: "))
area=0.5*base*height
print("The area of this triangle is:",area)

please Enter your base: 10
please enter your height: 10
The area of this triangle is: 50.0

In [49]:
first="Paul"
last="Odiebara"
space=" "
print("My full name is: ", first + space + last)

My full name is:  Paul Odiebara

In [50]:
firstname=input("Please enter your first name: ")
lastname=input("Please enter your last name: ")
space=" "
print("My full name is: ", firstname + space + lastname)

Please enter your first name: Bright
Please enter your last name: Umah
My full name is:  Bright Umah