## dates

In [7]:
import datetime
x=datetime.datetime.now()
print(x)

2022-09-02 10:41:33.913740

In [16]:
x=datetime.datetime.now()
print(x.year)

2022

In [17]:
year_of_birth=int(input("Please enter your year of birth: "))
import datetime
current_date_time=datetime.datetime.now()
current_year=current_date_time.year
age=current_year-year_of_birth
print(f"since you where born in the year {year_of_birth}, you are {age} years old")

Please enter your year of birth: 2000
since you where born in the year 2000, you are 22 years old

## function

In [25]:
f=6
t=7
x=f+t
print(x)

13

In [26]:
def add_number(a,b):
    y=a+b
    print(y)

In [27]:
add_number(6,7)

13

In [28]:
from math import pow, sqrt

In [29]:
pow(4,2)

16.0

In [30]:
sqrt(9)

3.0

In [31]:
## defining a function that can compute the power of a number
def brighten(c,j):
    print(c**j)

In [32]:
brighten(5,3)

125

In [33]:
type(brighten(5,3))

125

NoneType

In [35]:
x=brighten(5,3)
print(x)
print(type(x))
print(x+2) ## this is why we use return in functions

125
None
<class 'NoneType'>

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [36]:
def my_sqrt(x):
    return x**0.5

In [37]:
my_sqrt(125)

11.180339887498949

In [38]:
11.180339887498949*11.180339887498949

125.00000000000001

In [39]:
y=my_sqrt(125)
y+=20
print(y)

31.18033988749895

In [40]:
def my_sqrt(x): # putting a docstring or a function description when declaring your function
    """this function or method returns the square root of a given number"""
    return x**0.5

In [42]:
my_sqrt(-25)

(3.061616997868383e-16+5j)

### Exercise 85: Convert an Integer to its Ordinal Number
#### Words like first, second and third are referred to as ordinal numbers. In this exercise, you will write a function that takes an integer as its only parameter and returns a string containing the appropriate English ordinal number as its only result. Your function must handle the integers between 1 and 12 (inclusive). It should return an
#### empty string if a value outside of this range is provided as a parameter. Include a main program that demonstrates your function by displaying each integer from 1 to 12 and its ordinal number.

In [43]:
def numbers(number):
    """This function converts integers from 1 to 12 to ordinal numbers"""
    if number==1:
        return "first"
    elif number==2:
        return "second"
    elif number==3:
        return "third"
    elif number==4:
        return "fourth"
    elif number==5:
        return "fifth"
    elif number==6:
        return "sixth"
    elif number==7:
        return "seventh"
    elif number==8:
        return "eight"
    elif number==9:
        return "ninth"
    elif number==10:
        return "tenth"
    elif number==11:
        return "eleventh"
    elif number==12:
        return "twelveth"
    else:
        return "please enter an integer within the range of 1-12!"

In [44]:
numbers(3)

'third'

In [45]:
numbers(12)

'twelveth'

In [46]:
numbers(13)

'please enter an integer within the range of 1-12!'

In [47]:
numbers(-3)

'please enter an integer within the range of 1-12!'

In [51]:
day=int(input("Enter a number from 1 to 12: "))
day_of_month=numbers(day)
print(f"you are in the {day_of_month} month of the year")

Enter a number from 1 to 12: -1
you are in the please enter an integer within the range of 1-12! month of the year