## Review of a question/problem

## Exercise 35: Dog Years
### It is commonly said that one human year is equivalent to 7 dog years. However this simple conversion fails to recognize that dogs reach adulthood in approximately two years. As a result, some people believe that it is better to count each of the first two human years as 10.5 dog years, and then count each additional human year as 4 dog years.
### Write a program that implements the conversion from human years to dog years described in the previous paragraph. Ensure that your program works correctly for conversions of less than two human years and for conversions of two or more human years. Your program should display an appropriate error message if the user enters a negative number.

In [7]:
human_years=int(input("Enter the number of years the dog has lived: "))
if human_years<=0:
    print("please enter a valid number of year(s)")
elif human_years <= 2:
    print("dog years is: ", human_years * 10.5)
else:
    print("dog years is: ", (human_years-2)*4 + 21)

Enter the number of years the dog has lived: 4
dog years is:  29

In [8]:
human_years=int(input("Enter the number of years the dog has lived: "))
if human_years<=0:
    print("please enter a valid number of year(s)")
elif human_years <= 2:
    print("dog years is: ", human_years * 10.5)
else:
    extra_years=human_years-2
    print("dog years is: ", (extra_years*4) + 21)

Enter the number of years the dog has lived: 5
dog years is:  33

In [10]:
# using the f command in your print function
human_years=int(input("Enter the number of years the dog has lived: "))
if human_years<=0:
    print(f"please enter a valid number of year(s)")
elif human_years <= 2:
    print(f"dog years is: {human_years * 10.5}")
else:
    extra_years=human_years-2
    print(f"dog years is: {(extra_years*4) + 21}")

Enter the number of years the dog has lived: 5
dog years is: 33

In [12]:
print(f" i am coming home in {human_years} for the next 5 months")

 i am coming home in 5kg for the next 5 months

## List

In [13]:
cars=["Audi","Honda","Nissan","Toyota","Benz","Volvo","Tesla","Peugout"]

In [14]:
type(cars)

list

In [15]:
print(cars)

['Audi', 'Honda', 'Nissan', 'Toyota', 'Benz', 'Volvo', 'Tesla', 'Peugout']

In [16]:
# indexing the list
print(cars[0]) 
print(cars[-1])

Audi
Peugout

In [17]:
name="Paul Odiebara"

In [18]:
len(name)

13

In [20]:
len(cars) ## to check the length of the list called cars

8

In [21]:
# list slicing
cars[:4]

['Audi', 'Honda', 'Nissan', 'Toyota']

In [22]:
cars[::2]

['Audi', 'Nissan', 'Benz', 'Tesla']

In [23]:
cars

['Audi', 'Honda', 'Nissan', 'Toyota', 'Benz', 'Volvo', 'Tesla', 'Peugout']

In [24]:
cars[3:7]

['Toyota', 'Benz', 'Volvo', 'Tesla']

In [25]:
cars[3:]

['Toyota', 'Benz', 'Volvo', 'Tesla', 'Peugout']

In [26]:
numbers=[10,5,3,10,5,5,3,1,4,4]

In [27]:
len(numbers)

10

In [28]:
sum(numbers) ## sum of all the items in the list

50

In [29]:
max(numbers) # maximum of all the items in the list

10

In [30]:
min(numbers) # minimum of all the items in the list

1

In [33]:
numbers.count(10) # counting unique items in the list

2

In [34]:
numbers.count(5)

3

In [35]:
cars

['Audi', 'Honda', 'Nissan', 'Toyota', 'Benz', 'Volvo', 'Tesla', 'Peugout']

In [36]:
cars.append("BMW") # adding items in a list

In [37]:
cars

['Audi',
 'Honda',
 'Nissan',
 'Toyota',
 'Benz',
 'Volvo',
 'Tesla',
 'Peugout',
 'BMW']

In [38]:
print(cars)

['Audi', 'Honda', 'Nissan', 'Toyota', 'Benz', 'Volvo', 'Tesla', 'Peugout', 'BMW']

In [39]:
cars.append(23)

In [40]:
cars

['Audi',
 'Honda',
 'Nissan',
 'Toyota',
 'Benz',
 'Volvo',
 'Tesla',
 'Peugout',
 'BMW',
 23]

In [41]:
cars.append("Lexus")

In [42]:
print(cars)

['Audi', 'Honda', 'Nissan', 'Toyota', 'Benz', 'Volvo', 'Tesla', 'Peugout', 'BMW', 23, 'Lexus']

In [43]:
# remove the last item of a list
cars.pop()

'Lexus'

In [44]:
cars.append("Lexus")
print(cars)

['Audi', 'Honda', 'Nissan', 'Toyota', 'Benz', 'Volvo', 'Tesla', 'Peugout', 'BMW', 23, 'Lexus']

In [46]:
cars.pop(-2)

23

In [47]:
print(cars)

['Audi', 'Honda', 'Nissan', 'Toyota', 'Benz', 'Volvo', 'Tesla', 'Peugout', 'BMW', 'Lexus']

In [48]:
cars.append("Honda")

In [49]:
print(cars)

['Audi', 'Honda', 'Nissan', 'Toyota', 'Benz', 'Volvo', 'Tesla', 'Peugout', 'BMW', 'Lexus', 'Honda']

In [50]:
cars.remove("Honda")

In [51]:
print(cars)

['Audi', 'Nissan', 'Toyota', 'Benz', 'Volvo', 'Tesla', 'Peugout', 'BMW', 'Lexus', 'Honda']

In [52]:
cars.insert(5,"Jessica") # inserting items at a specific index

In [53]:
print(cars)

['Audi', 'Nissan', 'Toyota', 'Benz', 'Volvo', 'Jessica', 'Tesla', 'Peugout', 'BMW', 'Lexus', 'Honda']

In [59]:
cars.index("Benz") ## checking the index of an item in a list

3

In [60]:
numbers

[10, 5, 3, 10, 5, 5, 3, 1, 4, 4]

In [61]:
numbers.clear() # to empty your list

In [62]:
numbers

[]

In [63]:
del numbers # deleting a variable name

In [64]:
print(numbers)

NameError: name 'numbers' is not defined

In [65]:
print(cars)

['Audi', 'Nissan', 'Toyota', 'Benz', 'Volvo', 'Jessica', 'Tesla', 'Peugout', 'BMW', 'Lexus', 'Honda']

In [66]:
cars.reverse() ## automaticaly reverse your list
print(cars)

['Honda', 'Lexus', 'BMW', 'Peugout', 'Tesla', 'Jessica', 'Volvo', 'Benz', 'Toyota', 'Nissan', 'Audi']

In [67]:
cars.sort()

In [68]:
print(cars)

['Audi', 'BMW', 'Benz', 'Honda', 'Jessica', 'Lexus', 'Nissan', 'Peugout', 'Tesla', 'Toyota', 'Volvo']

## little exercise on list

In [70]:
first_number=float(input("Enter first number: "))
second_number=float(input("Enter second number: "))
third_number=float(input("Enter third number: "))
fourth_number=float(input("Enter fourth number: "))
totalNumber=[]
totalNumber.append(first_number)
totalNumber.append(second_number)
totalNumber.append(third_number)
totalNumber.append(fourth_number)
print(totalNumber)
totalNumber.sort()
print(totalNumber)
print(f"largest number is {totalNumber[-1]}")
print(f"smallest number is {totalNumber[0]}")
print(f"sum of the numbers is {sum(totalNumber)}")
lenght_numbers=len(totalNumber)
avg=sum(totalNumber)/lenght_numbers
print("The average of the numbers: ", avg )

Enter first number: 5.2
Enter second number: 6
Enter third number: -5
Enter fourth number: 0
[5.2, 6.0, -5.0, 0.0]
[-5.0, 0.0, 5.2, 6.0]
largest number is 6.0
smallest number is -5.0
sum of the numbers is 6.2
The average of the numbers:  1.55