## Python Operators

In [1]:
## Arithmetic Operators

In [2]:
# +,-,*,/

## modulus

In [3]:
# %
5%2

1

In [5]:
10%4

2

## Exponent

In [6]:
3*3*3*3 # ** exponent

81

In [7]:
3**4

81

## floor divisor

In [8]:
# //
15//7

2

In [9]:
15%7

1

In [10]:
15/7

2.142857142857143

## Assignment Operator

In [11]:
# =,+=,-=,*=,/=, ==

In [12]:
# ==
5**2 = 25

SyntaxError: can't assign to operator (<ipython-input-12-f2f4f2f24fe9>, line 2)

In [13]:
5**2 == 25

True

In [14]:
5**2 == 26

False

In [ ]:
# +=

In [29]:
x=6

In [30]:
print(x)

6

In [31]:
x=x+2

In [32]:
print(x)

8

In [33]:
x+=2

In [34]:
x

10

In [35]:
x/=2

In [36]:
x

5.0

In [37]:
y=10

In [38]:
y/=2

In [39]:
y

5.0

In [40]:
y*=3
print(y)

15.0

In [41]:
y-=5
print(y)

10.0

## Comparison Operators

In [42]:
#, ==,!=,>,<,<=,>=

In [43]:
5**2 != 25

False

In [44]:
5**2 != 20

True

In [45]:
4>5

False

In [46]:
5<10

True

In [47]:
4>=4

True

In [48]:
5<=5

True

In [49]:
10<=21

True

## Logical Operators

In [50]:
# and, or, not

In [51]:
5>10 or 2<5

True

In [52]:
5>10 and 2<5

False

In [53]:
kelvin=20

In [54]:
print(kelvin)

20

In [63]:
if not kelvin>21:
    print("True")
else:
    print("False")

True

## member hip operators

In [64]:
# in, not in (used in sequence) we will explain later|

## indexing of a string

In [65]:
name="Jessica"

In [66]:
name[0]

'J'

In [67]:
name[1]

'e'

In [68]:
name[3]

's'

In [69]:
name[-7]

'J'

In [70]:
name[-1]

'a'

## Index Slicing

In [71]:
print(name)

Jessica

In [72]:
name[2:5]

'ssi'

In [74]:
name[2:7]

'ssica'

In [75]:
name[2:6]

'ssic'

In [78]:
name[0:6:2]

'Jsi'

In [79]:
my_name="Paul Odiebara"

In [83]:
my_name[0:13]

'Paul Odiebara'

In [84]:
my_name[0:13:2]

'Pu deaa'

In [85]:
my_name[0:13:3]

'Pldba'

In [86]:
my_name[:]

'Paul Odiebara'

In [87]:
print(my_name)

Paul Odiebara

In [88]:
my_name[:10]

'Paul Odieb'

In [89]:
my_name[::2]

'Pu deaa'

## Conditional If Statement

In [90]:
# if x:
# do this
# else if y:
# do this
# else:
# do this

## exercise 34: Even or Odd?
## Write a program that reads an integer from the user. Then your program should display a message indicating whether the integer is even or odd

In [104]:
number=int(input("Please enter an integer: "))
if number == 0:
    print("Please enter a negative or positive number")
elif number%2== 0:
    print("The number is even")
else:
    print("The number is odd")

Please enter an integer: 0
Please enter a negative or positive number

In [91]:
number=int(input("Please enter an integer: "))
if number == 0:
    print("Please enter a negative or positive number")
elif number%2== 0:
    print("The number is even")
else:
    print("The number is odd")

0

In [108]:
number=int(input("Please enter an integer: "))
if number  <=0:
    print("Please enter a positive number")
elif number%2== 0:
    print("The number is even")
else:
    print("The number is odd")

Please enter an integer: 20
The number is even