## assignments on quadratic equation

In [1]:
def quadratic(a,b,c):
    x1=(-(b)+(((b*b)-(4*a*c))**0.5))/(2*a)
    x2=(-(b)-(((b*b)-(4*a*c))**0.5))/(2*a)
    return x1,x2

In [3]:
quadratic(1,2,-3)

(1.0, -3.0)

## map fns

In [4]:
## map() loops over the items of an input iterable(s) and returns an iterator that results from
# applying a transformation fns to every item in the original input iterable
# map(fns, iterable[iterable1,iterable2,iterable3.....])

In [5]:
## we use the map inplace of a loop in some instance

In [10]:
numbers=[5,4,3,2,1]
squared=[]
for n in numbers:
    squared.append(n**2)
print(squared)

[25, 16, 9, 4, 1]

In [16]:
## using map function to do the above
def square(number):
    return number**2
numbers=[5,4,3,2,1]
squared=map(square,numbers)
print(list(squared))

[25, 16, 9, 4, 1]

In [17]:
words=["welcome","book","socket","board","go","chair","come","table","pen"]
length=[]
for i in words:
    length.append(len(i))
print(length)

[7, 4, 6, 5, 2, 5, 4, 5, 3]

In [18]:
words=["welcome","book","socket","board","go","chair","come","table","pen"]
print(list(map(len,words)))

[7, 4, 6, 5, 2, 5, 4, 5, 3]

In [19]:
num=[-3,4,-5,-1,-100,7]
print(list(map(abs,num)))

[3, 4, 5, 1, 100, 7]

In [22]:
first=[1,2,3,4]
second=[2,3,4,5]
print(list(map(pow,first,second)))

[1, 8, 81, 1024]

In [29]:
# using nested loop to solve the above
first=[1,2,3,4]
second=[2,3,4,5]
for x in first:
    for y in second:
        if first.index(x)==second.index(y):
            print(x**y)

1
8
81
1024

## Filter fns

In [46]:
## filter fns is used to exclude items in an iterable object
## filter(fns,iterable)
ages=[5,12,17,18,24,32]
# using loops to solve this
adult_age=[]
for age in ages:
    if age>=18:
        adult_age.append(age)
print(adult_age)

[18, 24, 32]

In [50]:
def jessica(x):
    if x<18:
        return False
    else:
        return True
adults= filter(jessica,ages)
print(list(adults))

[18, 24, 32]

## reduce function

In [51]:
# reduce applies a fns of two argument cummulatively to the elements of an iterable, optionally
# starting with an initial argument

In [52]:
from functools import reduce

In [60]:
numbers=[3,4,6,9,34,12]
def custom_sum(first,second):
    return first+second

result=reduce(custom_sum,numbers)
print(result) #reduce function example

68

In [61]:
numbers=[3,4,6,9,34,12]
def custom_sum(first,second):
    return first+second

result=reduce(custom_sum,numbers,10)
print(result) #reduce function example with a starting point of 10

78

In [62]:
numbers=[3,4,6,9,34,12]
def custom_sum(first,second):
    return first-second # note that i am using cummulative subtraction now

result=reduce(custom_sum,numbers)
print(result) #reduce function example

-62

In [63]:
numbers=[3,4,6,9,34,12]
def custom_sum(first,second):
    return first-second # note that i am using cummulative subtraction now

result=reduce(custom_sum,numbers,10)
print(result) #reduce function example

-58

In [67]:
10-3-4-6-9-34-12

-58

In [65]:
numbers=[3,4,6,9,34,12]
def custom_sum(first,second):
    return first-second # note that i am using cummulative subtraction now

result=reduce(custom_sum,numbers,-10)
print(result) #reduce function example

-78

In [68]:
-10-3-4-6-9-34-12

-78