In [1]:
2+2

4

In [2]:
3-1

2

In [3]:
3*45

135

In [5]:
a=5
b=9
c=a+b
print(c)

14

In [6]:
a=5
b=9
c=a-b
print(c)

-4

In [7]:
x=4
y=6
z= x+y
c= z + y

In [9]:
print(c)

16

In [10]:
x=5
y=7
z= x+y
c= z + y
c
z

12

In [11]:
x=5
y=7
z= x+y
c= z + y
print(c)
print(z)

19
12

In [22]:
x=5
y=7
z= x+y
c= z + y
print(z)
print(c)
print(c)
print(z)

12
19
19
12

In [26]:
x=5
y=7
z= x+y
c= z + y
print('my value of z is', z)
print("my value of c", c)

my value of z is 12
this is rubbish 19

In [27]:
print("edfhjjkhjgh")

edfhjjkhjgh

In [28]:
print("my name is Paul Odiebara")

my name is Paul Odiebara

In [51]:
#calculate the Area of a triangle
#formular is 1/2 base times height
base= 10
height= 15
area= 0.5*base*height
print(area)

75.0

In [40]:
base=10
height=15
area=0.5*base*height
print("The area of this triangle is:",area)

The area of this triangle is: 75.0

## Variables and Data types

In [44]:
age= 15 # integers
height= 1.9 # float numbers
name= "Paul" # strings

In [45]:
number="15"

In [46]:
print(number)

15

In [47]:
type(number)

str

In [48]:
type(age)

int

In [49]:
type(height)

float

In [50]:
type(name)

str

In [55]:
base=int(input("please Enter your base: "))
height=int(input("please enter your height: "))
area=0.5*base*height
print("The area of this triangle is:",area)

please Enter your base:  6
please enter your height:  9

The area of this triangle is: 27.0

In [57]:
base=float(input("please Enter your base: "))
height=float(input("please enter your height: "))
area=0.5*base*height
print("The area of this triangle is:",area)

please Enter your base:  3.5
please enter your height:  5.1

The area of this triangle is: 8.924999999999999

In [59]:
first="Paul"
last="Odiebara"
space=" "
print("My full name is: ", first + space + last)

my full name is:  Paul Odiebara

In [61]:
firstname=input("Please enter your first name: ")
lastname=input("Please enter your last name: ")
space=" "
print("My full name is: ", firstname + space + lastname)

Please enter your first name:  Jessica
Please enter your last name:  Mmecha

My full name is:  Jessica Mmecha