## Variables

In [34]:
name="Paul Odiebara" # strings
age=21 # integer variable
height= 1.75 # floating numbers 
firstname='John'
names= "grace"

In [3]:
name

'Paul Odiebara'

In [4]:
age

21

In [5]:
height

1.75

In [6]:
firstname

'John'

In [9]:
name

'Paul Odiebara'

In [10]:
print("Jessica, Kelvin and Kingsley")

Jessica, Kelvin and Kingsley

In [11]:
print(names)

grace

In [12]:
print(names)
print(firstname)
print(height)

grace
John
1.75

In [16]:
print(6*8)
print(5+3)

48
8

In [17]:
print("my name is", name)

my name is Paul Odiebara

In [18]:
print("my name is")

my name is

In [19]:
# using the type method to check the variable type of a variable
type(name)

str

In [20]:
type(age)

int

In [21]:
type(height)

float

## Rules of naming variables in Python

In [22]:
type(Age)

NameError: name 'Age' is not defined

In [26]:
## your variable name must start with an alphabet or underscore
## Variable names are case sensitive

In [24]:
_9ja="Abuja"

In [25]:
_9ja

'Abuja'

## recognized format of naming Variables

In [27]:
# camel case= myVariableName
# pascal case= MyVariableName
# snake case= my_variable_name

# My name is
## My name
### My name
#### My name

In [31]:
age

21

In [11]:
age=40

In [33]:
age

40

In [35]:
age

21

In [37]:
age

40

In [2]:
x,y,z="kelvin","Jessica","Kingsley"

In [3]:
x

'kelvin'

In [4]:
y

'Jessica'

In [5]:
z

'Kingsley'

In [43]:
print(x)
print(y)
print(z)

kelvin
Jessica
Kingsley

In [48]:
print(x,y,z)

kelvin Jessica Kingsley

In [50]:
"odiebara"+" "+"Paul"

'odiebara Paul'

## Exercise 1: Mailing Address
## Create a program that displays your name and complete mailing address formatted in the manner that you would usually see it on the outside of an envelope. Your program does not need to read any input from the user.

In [6]:
name="Paul Onoweghale Odiebara"
print("To: ", name)
print("No. 3 Okporo Street, Off School Road,")
print("Rumuekini, Port Harcourt,")
print("Nigeria.")

To:  Paul Onoweghale Odiebara
No. 3 Okporo Street, Off School Road,
Rumuekini, Port Harcourt,
Nigeria.

## if you want the user to input the name

In [7]:
name=input("Enter your full name: ")
print("To: ", name)
print("No. 3 Okporo Street, Off School Road,")
print("Rumuekini, Port Harcourt,")
print("Nigeria.")

Enter your full name: Paul Odiebara
To:  Paul Odiebara
No. 3 Okporo Street, Off School Road,
Rumuekini, Port Harcourt,
Nigeria.

In [9]:
print("come\nhere")

come
here

In [12]:
print('i am a boy of',age,"i am coming home")

i am a boy of 40 i am coming home

In [60]:
name=input("Enter your full name: ")
print("To: ", name, "\nNo. 3 Okporo Street, Off School Road,\nRumuekini, Port Harcourt,\nNigeria.")

Enter your full name: Paul Odiebara
To:  Paul Odiebara
No. 3 Okporo Street, Off School Road,
Rumuekini, Port Harcourt,
Nigeria.

## Exercise 3: Area of a Room
## Write a program that asks the user to enter the width and length of a room. Once the values have been read, your program should compute and display the area of the room. The length and the width will be entered as floating point numbers. Include units in your prompt and output message; either feet or meters, depending on which unit you are more comfortable working with.

In [62]:
length=float(input("Enter length of room in meters: "))
width=float(input("Enter width of room in meters: "))
area= length*width
print("The area of the room is: ", area,"m^2")

Enter length of room in meters: 14.2
Enter width of room in meters: 18
The area of the room is:  255.6 m^2